<!DOCTYPE html>

<html>

<head>
    <link rel="stylesheet" href="./css/styles.css">
    <title>
        about you asshole
    </title>

</head>

<body>
    {{>header}}
    <H1>About from a dynamic file {{name}}!</H1>
    <img src="./img/20201029023615.png">
        <footer>
        {{>footer}}
    </footer>

</body>

</html>