<!DOCTYPE html>

<html>

<head>

    <title>
        help you asshole
    </title>
    <link rel="stylesheet" href="./css/styles.css">
    <link rel="icon" href="/img/icon.png">

</head>

<body>
    {{>header}}
    <H1>help from a static file!</H1>
        <footer>
        {{>footer}}
    </footer>

</body>

</html>