<!DOCTYPE html>

<html>

<head>


    <link rel="stylesheet" href="./css/styles.css">
    
    <link rel="icon" href="/public/img/icon.png">

    <title>
        hello you asshole
    </title>

</head>

<body>
    <div class='hell'>
    {{>header}}
    <H1>show weather {{name}}!</H1>
    <form>
        <input placeholder="location">
        <button>
            search
        </button>
    </form>
    <p id='message1'></p>
    <p id='message2'></p>
    </div>
    {{>footer}}
    <script src="./javasctript/app.js"></script>
</body>

</html>